@import '../mixin';

@include mobile{
  .writeInfo-wrap{
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    flex-direction: columns;
    align-items: center;
    justify-content: center;
    z-index : 3;
    background-color: #999;
    height: 100%;
    
    .writeInfo-first,
    .writeInfo-second,
    .writeInfo-third{
      background-color: #999;
      &.inner-wrap{
        opacity: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left : 100px;
        padding: 0 20px;
        margin: 20px 0;
      }
      
      transition-duration:1.5s;
      &.hover{
        opacity: 100%;
        left:0px;
      }
    }
  
    .writeInfo-second {
      transition-delay: 0.5s; // 첫 번째 요소 이후에 시작
    }
    
    .writeInfo-third {
      transition-delay: 1s; // 두 번째 요소 이후에 시작
    }
  
    .title{
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 2px;
  
      &.writeInfo-first {
        color:greenyellow;
      }
  
      &.writeInfo-second {
        color:orange;
      }
      &.writeInfo-third {
        color:skyblue;
      }
    }
    
    .subTitle{
      font-size: 20px;
      font-weight: bold;

    }
  
    .detail{
      font-size: 12px;
      white-space: pre-wrap;
    }
  }
}