@import "../mixin";

@include mobile{

  .siteActivityComponent{

    height: 80px;
    box-sizing: border-box;
    margin : 5px 0;
  
    .siteActivityComponent-inner{
      display: flex;
      
      .siteActivityComponent-info{
        flex:1;
  
        .main-info{
          font-size:25px;
          font-weight: bold;
        }
        .main-info-unit{
          font-size:15px;
          font-weight: bold;
        }
  
        .main-info-unit-writes{
          font-size:15px;
          font-weight: bold;
        }
      }
      
      .siteActivityComponent-img{
        flex:1;
      }
    }
  }

}

