// screen
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

// header
$header-size: 100px;

// footer size
$footer-size: 150px;





// color
// $wrap-color: aqua;
// $container-color: black;
// $header-color: wheat;
// $footer-color: green;

$wrap-color: white;
$container-color: white;
$header-color: white;
$footer-color: rgb(96, 95, 95);