// screen size
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

// footer size
$footer-size: 100px;

// header size
$header-size: 100px;


// color
$wrap-color: aqua;
$container-color: black;
$header-color: wheat;
$footer-color: green;

// $wrap-color: white;
// $container-color: white;
// $header-color: white;
// $footer-color: white;