@import "mixin";
@import "./variables";

.wrap {
  min-height: 100vh;
  background-color: $wrap-color;
}

.container {
  padding-top: $header-size;
  min-height: calc(100vh - #{$header-size} - #{$footer-size});
  background-color: $container-color;
}