@import "./variables";
@import "mixin";

.footer_wrap{
  height: #{$footer-size};
  width: 100%;
  background-color: $footer-color;
  box-sizing: border-box;
  padding: 0 30px;

  display: flex;
  align-items: center; /* Center the content vertically */


  .footer-inner{
    .Logo{
      height:50px;
      margin-bottom:10px;
    }
    .footer_info {
      display : flex;
    }
    
    .footer_Logo{
      font-size : 30px;
    }
    
    .footer_copyright{
        li {
          a {
            color:#999;
          }
        }
    }
  }

  
}

