@import "mixin";

@include desktop{
  .halfPictureHalfWrites-wrap{
    display: flex;
    height: 100%;
    width: 100%;
  
    .half-picture{
      width: 50%;
      object-fit: cover;
      object-position: top left;
    }
    .half-writes{
      display: block;
      background-color: black;
      box-sizing: border-box;
      padding:50px;
      width: 50%;
  
      .half-writes-title{
        width: 80%;
        font-size: 30px;
        font-weight: bold;
        color: white;
        margin:50px 0 20px 0;
      }
  
      .half-writes-detail{
        width: 80%;
        color: white;
        margin-bottom: 40px;
      }
  
      .half-writes-button{
        padding:10px;
        border-radius: 10px;
        border : 0.75px solid white;
        color: white;
      }
  
      .half-writes-button:hover{
        color: black;
        background-color:  #E3BA19
      }
    }
  }
}