@import "./variables";
@import "mixin";

.header_wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: #{$header-size};
  width:90%;
  margin: auto;

  background-color: $header-color;
}

.Logo{
  margin : 0 3rem;
  white-space: nowrap; // 줄바꿈 방지
}

.menu {
  margin:0;

  ul{
    display: flex;
    list-style-type: none; // 목록 마커 제거
    padding : 0;

    li{
      flex : 1;
      white-space: nowrap;
      margin: 0 6rem 0 0; /* 위 아래는 0, 좌우는 1rem */
    }

  }
}



