@import "mixin";
@include desktop{

  .scrollButtons-wrap{
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: calc(50vh - 75px);
    right: 40px;
    height: 150px;
    z-index: 9999;
  
    .scrollButtons-button{
      height: 10px;
      width: 10px;
      background-color: orange;
    }
  }

  .second-section{
    height:60vh;
    min-height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: top left;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    padding: 0 30px;

  
    .second-section-wrap{
      width: 100%;
      .second-section-title{
        font-size:40px;
        font-weight: bold;
      }
      .second-section-writes{
        font-size:20px;
        font-weight: bold;
        // margin-top:10px;
      }
      .siteActivityComponent-wrap{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        // margin-top:30px;
        box-sizing: border-box;
      }
    }
  }
  
  .third-section{
    min-height: 60vh;
  }
  .fourth-section{
    height: 45vh;
  }
}