@import "mixin";
.second-section{
  height: 50vh;
  box-sizing: border-box;
  padding: 0 30px;
  margin:30px 0;

  .second-section-title{
    font-size:40px;
    font-weight: bold;
  }
  .siteActivityComponent-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding-top:50px;
  }
}

.third-section{
  margin:30px 0;
  height: 70vh;
}