.siteActivityComponent{
  background-color: black;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  box-sizing: border-box;
  padding : 30px;

  .siteActivityComponent-inner{
    display: flex;

    .siteActivityComponent-info{
      flex:1;

      .number-animation {
        text-align: center;
        font-size: 24px;
      }
      
      .count {
        font-size: 36px;
        color: white; 
      }

      .main-info{
        font-size:50px;
        font-weight: bold;
        color: white;
      }
      .main-info-unit{
        color: white;
        font-size:25px;
        font-weight: bold;
      }
    }
    .siteActivityComponent-img{
      flex:1;
    }
  }
  
}